{% extends "umap/content.html" %}
{% load i18n %}
{% block maincontent %}
  <main role="main" class="fr-container-fluid">
    <div class="fr-container">
      <h2 class="section">Les cartes en favoris de {{ current_user }}</h2>
      <div class="map_list row">
        {% if maps %}
          {% include "umap/map_list.html" %}
        {% else %}
          <div>{{ current_user }} n’a pas encore de cartes en favoris.</div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock maincontent %}
