{% extends "umap/content.html" %}
{% load umap_tags i18n static %}

{% block head_title %}
  Article de blog : {{ article.title }} - {{ SITE_DESCRIPTION }}
{% endblock head_title %}

{% block maincontent %}
  <main role="main" id="blog-article" class="fr-container-fluid">
    <div class="fr-container">
      <div class="fr-grid-row fr-mx-sm-2w fr-mx-md-6w fr-mx-lg-12w fr-mx-xl-15w fr-mb-4w">
        <div class="fr-col-12">
          {% if article.image %}
            <img src="{{ article.image }}" class="fr-responsive-img" alt="{{ article.image_alt }}">
          {% endif %}
          <h1 class="fr-mt-6w">{{ article.title }}</h1>
          {{ article.html|safe }}
        </div>
      </div>
    </div>
  </main>
{% endblock maincontent %}
