{% extends "base.html" %}
{% load umap_tags i18n static %}
{% block extra_head %}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/leaflet/leaflet.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/markercluster/MarkerCluster.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/markercluster/MarkerCluster.Default.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/editinosm/Leaflet.EditInOSM.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/minimap/Control.MiniMap.min.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/measurable/Leaflet.Measurable.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/fullscreen/leaflet.fullscreen.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/locatecontrol/L.Control.Locate.min.css" />
<link rel="stylesheet"
      href="{% static 'umap/vendors/iconlayers/iconLayers.css' %}" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/dsfr-lite/dsfr.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/dsfr-lite/icons.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/vars.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/content.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/map.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/css/contextmenu.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/theme.css" />
  <link rel="alternate"
        type="application/rss+xml"
        title="Actualités uMap (ANCT)"
        href="{% url 'blog_feed' %}">
  {% umap_js %}
{% endblock extra_head %}
{% block body_class %}
  content
{% endblock body_class %}
{% block header %}
  {% include "umap/navigation.html" %}
{% endblock header %}
{% block content %}
  <div class="fr-container">
  {% block maincontent %}
  {% endblock maincontent %}
  </div>
{% endblock content %}
{% block footer %}
  {% include "umap/content_footer.html" %}
  {% include "umap/footer.html" %}
{% endblock footer %}
{% block bottom_js %}
  {{ block.super }}
  <script src="{% static "umap/dsfr-lite/dsfr.module.js" %}" type="module"></script>
  <script src="{% static "umap/theme.js" %}" type="module"></script>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', event => {
      const server = new U.ServerRequest()
      const getMore = async function (e) {
        L.DomEvent.stop(e)
        const [{html}, response, error] = await server.get(this.href)
        if (!error) {
          const container = this.parentNode
          container.innerHTML = html
          const more = document.querySelector('.more_button')
          if (more) {
            L.DomEvent.on(more, 'click', getMore, more)
          }
        }
      }
      const more = document.querySelector('.more_button')
      if (more) {
        L.DomEvent.on(more, 'click', getMore, more)
      }
    })
  </script>
{% endblock bottom_js %}
