{% extends "base.html" %}
{% load umap_tags compress i18n static %}
{% block extra_head %}
  <link rel="apple-touch-icon"
        href="{{ STATIC_URL }}umap/dsfr-lite/favicon/apple-touch-icon.png" />
  <!-- 180×180 -->
  <link rel="icon"
        href="{{ STATIC_URL }}umap/dsfr-lite/favicon/favicon.svg"
        type="image/svg+xml" />
  <link rel="shortcut icon"
        href="{{ STATIC_URL }}umap/dsfr-lite/favicon/favicon.ico"
        type="image/x-icon" />
  <!-- 32×32 -->
  <link rel="manifest"
        href="{{ STATIC_URL }}umap/dsfr-lite/favicon/manifest.webmanifest" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/leaflet/leaflet.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/markercluster/MarkerCluster.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/markercluster/MarkerCluster.Default.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/editinosm/Leaflet.EditInOSM.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/minimap/Control.MiniMap.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/contextmenu/leaflet.contextmenu.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/toolbar/leaflet.toolbar.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/measurable/Leaflet.Measurable.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/fullscreen/leaflet.fullscreen.css" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}umap/vendors/locatecontrol/L.Control.Locate.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/dsfr-lite/dsfr.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/dsfr-lite/icons.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/map.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}umap/theme.css" />
  {% umap_js %}
{% endblock extra_head %}
{% block header %}
  {% include "umap/navigation.html" %}
{% endblock header %}
{% block content %}
  {% block maincontent %}
  {% endblock maincontent %}
{% endblock content %}
{% block footer %}
  {% include "umap/content_footer.html" %}
  {% include "umap/footer.html" %}
{% endblock footer %}
{% block bottom_js %}
  {{ block.super }}
  <script src="{% static "umap/theme.js" %}" type="module"></script>
  <script type="text/javascript">
    !(function () {
      const getMore = function (e) {
        L.DomEvent.stop(e)
        const ui = new L.U.UI(document.querySelector('header'))
        const xhr = new L.U.Xhr(ui)
        xhr._ajax({
          uri: this.href,
          verb: 'GET',
          callback: function (data) {
            const container = this.parentElement.parentElement
            container.innerHTML = data
            Array.prototype.forEach.call(
              container.querySelectorAll('script'),
              function (item) {
                eval(item.firstChild.textContent)
              }
            )
            const more = document.querySelector('.more_button')
            if (more) {
              L.DomEvent.on(more, 'click', getMore, more)
            }
          },
          context: this,
        })
      }
      const more = document.querySelector('.more_button')
      if (more) {
        L.DomEvent.on(more, 'click', getMore, more)
      }
    })(this)
  </script>
{% endblock bottom_js %}
