{% extends "umap/content.html" %}
{% load umap_tags i18n static %}
{% block maincontent %}
  <main role="main" class="fr-container-fluid">
    <div id="intro">
      <div class="fr-container">
        <div class="fr-grid-row fr-py-4w">
          <div class="fr-col-xs-12 fr-col-lg-6 fr-mr-8w fr-mt-3w fr-mb-3w fr-pt-4w at-centered">
            <h1>Une solution simple pour créer des cartes en ligne</h1>
            <p class="fr-highlight fr-highlight--green-menthe">
              uMap est un outil libre et open-source utilisé par les collectivités et référencé dans <a href="https://sill.code.gouv.fr/detail?name=uMap">le catalogue SILL</a> (Socle Interministériel des Logiciels Libres).
            </p>
            <p class="fr-mt-4w">
              <a class="fr-btn fr-mr-2w fr-mb-2w" href="{% url "map_new" %}">
                <span class="fr-icon-add-line fr-mr-1w" aria-hidden="true"></span> Créer une carte
              </a>
              <a class="fr-btn fr-btn--secondary" href="https://formulaires.incubateur.anct.gouv.fr/doc/eD75eJLqWNqq/table/5/reponse/form/70" target="_blank">
                Participer à un prochain webinaire
              </a>
            </p>
          </div>
          <img class="fr-m-4w"
               src="{{ STATIC_URL }}umap/img/osm.svg"
               alt=""
               width="326px"
               height="326px" />
        </div>
      </div>
    </div>
    <div>
      <div class="fr-container">
        <div id="statistiques"
             class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pt-4w fr-pb-4w">
          <div class="fr-col fr-col-md-3 fr-col-sm-5 fr-col-11 fr-tile__body">
            <img
              src="{% static "umap/dsfr-lite/pictograms/digital/avatar.svg" %}"
              alt="Avatar pictogram"
              width="100px"
              height="100px">
            <p>
              <big>121453</big>
              <br>
              comptes utilisateurs
            </p>
          </div>
          <div class="fr-col fr-col-md-3 fr-col-sm-5 fr-col-11 fr-tile__body">
            <img
              src="{% static "umap/dsfr-lite/pictograms/map/map.svg" %}"
              alt="Map pictogram"
              width="100px"
              height="100px">
            <p>
              <big>1165018</big>
              <br>
              cartes créées
            </p>
          </div>
          <div class="fr-col fr-col-md-3 fr-col-sm-5 fr-col-11 fr-tile__body">
            <img
              src="{% static "umap/dsfr-lite/pictograms/map/location-france.svg" %}"
              alt="Location France pictogram"
              width="100px"
              height="100px">
            <p>
              <big>7565</big>
              <br>
              utilisateurs actifs par semaine
            </p>
          </div>
        </div>
        <h2 class="fr-m-2w fr-pt-4w fr-tile__body">De nombreuses collectivités et organismes publics utilisent uMap</h2>
        <div class="fr-tile__body">
          <picture>
            <source
              media="(min-width: 576px)"
              srcset="{% static "umap/img/logos-collterr.png" %}">
            <img
              id="location-france"
              src="{% static "umap/img/logos-collterr-mobile.png" %}"
              alt="Logos des utilisateurs de uMap"
              width="591px"
              height="500px"
              loading="lazy">
          </picture>


        </div>
      </div>
    </div>
    <div id="exemples">
      <div class="fr-container fr-py-2w">
        <h2 class="fr-m-4w fr-pt-6w fr-tile__body">Exemples de cartes réalisées par des collectivités</h2>
        {% with maps=maps|slice:":3" %}
          {% include "umap/map_list.html" %}
        {% endwith %}
        <p class="fr-p-4w btns-group--center">
          <a class="fr-btn fr-btn--lg fr-btn--secondary" href="{% url "search" %}">Explorer les cartes</a>
        </p>
      </div>
    </div>
    <div id="tutoriel">
      <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-8w">
          <div class="fr-col fr-col-12 fr-col-md-6">
            <h2 class="fr-mb-4w">Créez et partagez une carte</h2>
            <ul>
              <li>Choisir la zone du monde qui vous intéresse</li>
              <li>Choisir l’aspect du fond de carte</li>
              <li>Placer des points, des lignes ou des zones</li>
              <li>Ajouter des légendes</li>
              <li>Catégoriser pour différencier vos éléments</li>
            </ul>
            <p class="fr-mt-4w">
              <a class="fr-btn" href="{% url "map_new" %}">
                <span class="fr-icon-add-line fr-mr-1w" aria-hidden="true"></span> Créer une carte
              </a>
            </p>
          </div>
          <div class="fr-col fr-col-12 fr-col-md-6" style="--aspect-ratio: 185/100;">
            <iframe
              title="Exemple de cartes uMap"
              width="560"
              height="315"
              src="https://tube.numerique.gouv.fr/videos/embed/7e54bb5d-d551-4791-a2ba-958d4d5e9a4e"
              frameborder="0"
              allowfullscreen=""
              sandbox="allow-same-origin allow-scripts allow-popups"
              ></iframe>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-12w fr-mb-8w responsive-columns-swap">
          <div class="fr-col fr-col-12 fr-col-md-6 u-center" style="--aspect-ratio: 185/100;">
            <iframe
              title="Démonstration de uMap ANCT"
              width="560"
              height="315"
              src="https://tube.numerique.gouv.fr/videos/embed/ea5438ee-bfe0-40ea-980c-9a8dec2d8419"
              frameborder="0"
              allowfullscreen=""
              sandbox="allow-same-origin allow-scripts allow-popups"
              ></iframe>
          </div>
          <div class="fr-col fr-col-12 fr-col-md-6">
            <h2 class="fr-mb-4w">Utilisez les fonctionnalités avancées de uMap</h2>
            <ul>
              <li>Afficher une minicarte, géolocaliser l’utilisateur…</li>
              <li>Import des données géographiques en masse (geojson, gpx, kml, osm…)</li>
              <li>Choisir la licence de vos données</li>
              <li>Utiliser des données distantes</li>
            </ul>
            <p class="fr-mt-4w">
              <a class="fr-btn fr-btn--secondary" href="https://umap-project.org/tutoriels/">
                <span class="fr-icon-git-repository-line fr-mr-1w" aria-hidden="true"></span> Accéder à la documentation →
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="join">
      <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-8w">
          <div class="fr-col fr-col-12 fr-col-md-8">
            <h2 class="fr-pt-4w fr-text--lead">Rejoignez la communauté des utilisateurs</h2>
            <img src="{{ STATIC_URL }}umap/img/tchap-logo.svg">
            <p>
              Discussions et demandes d’aide autour d’uMap<br>
              <a
                href="https://tchap.gouv.fr/#/room/!uPnJvxCrKXSNzYhJXe:agent.dev-durable.tchap.gouv.fr?via=agent.dinum.tchap.gouv.fr&via=agent.dev-durable.tchap.gouv.fr&via=agent.education.tchap.gouv.fr"
                target="_blank"
               rel="noopener">accédez au canal Tchap dédié</a>.
            </p>
          </div>
          <aside class="fr-col fr-col-12 fr-col-md-4 fr-mb-4w fr-mt-4w fr-pl-6w">
            <h2 class="fr-text--lead">Nous contacter</h2>
            <p>
              <a href="mailto:contact-umap@anct.gouv.fr">contact-umap@anct.gouv.fr</a>
            </p>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock maincontent %}
