{% extends "umap/content.html" %}
{% load umap_tags i18n static %}
{% block maincontent %}
  <main role="main" id="blog-article" class="fr-container-fluid">
    <div class="fr-container">
      <div class="fr-grid-row fr-mx-sm-2w fr-mx-md-6w fr-mx-lg-12w fr-mx-xl-15w fr-mb-4w">
        <div class="fr-col-12 fr-mt-6w">
          <div class="fr-alert fr-alert--info">
            <p>Pour recevoir la prochaine infolettre directement par courriel, n’hésitez pas à <a href="https://491dc778.sibforms.com/serve/MUIFAJnGfRXmhpbKJ5HcOyQ5clgILHnuPh2dMNaS80_Vsqm_bmeD9oBbo76kP4hrPwwoAVxt5tKkgFSa8B_hhLmmeNySdoGvYtUDcS5pM4cJCKeSsrQtfEo2bbB-_iq36k5q13fzFuIqimRSGrc0YgnWBN6K4LyAIbuAO3KiEBhSTll5Af2FWhFHepryXXC_c52Gk2FCvUOaWnTx">vous inscrire</a>. Vous pouvez aussi venir participer à notre <a href="https://grist.incubateur.anct.gouv.fr/o/anct/forms/tApX3WqkR5eo2gPxY8DuFm/30">prochain webinaire</a>.</p>
          </div>
        </div>

        {% for infolettre in infolettres %}
          <div class="fr-col-12" id="{{ infolettre.slug }}">
            <h2 class="fr-mt-6w"><a href="#{{ infolettre.slug }}" title="Lien vers cette section de la page">#</a> {{ infolettre.title }}</h2>
            {{ infolettre.html|safe }}
            <p class="fr-mb-8w">
              <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{{ infolettre.link }}">Consulter la totalité de cette infolettre</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock maincontent %}
