{% load umap_tags umap_tags i18n %}
<div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
  {% for map_inst in maps %}
    <div class="fr-col fr-col-12 fr-col-md-4">
      <div class="fr-card">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a href="{{ map_inst.get_absolute_url }}">{{ map_inst.name }}</a>
              {% if map_inst.owner %}
                <em>{% trans "by" %} <a href="{{ map_inst.owner.get_url }}">{{ map_inst.owner }}</a></em>
              {% endif %}
            </h3>
          </div>
        </div>
        <div class="fr-card__header">
          <div class="fr-card__img">{% map_fragment map_inst prefix=prefix page=request.GET.p %}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% if maps.has_next %}
  <div class="ajax-paginated">
    <p class="fr-pb-4w btns-group--center">
      <a class="fr-btn fr-btn--lg fr-btn--secondary more_button"
         href="?{% paginate_querystring maps.next_page_number %}">{% trans "More" %}</a>
    </p>
  </div>
{% endif %}
