{% load i18n %}
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="{% url "home" %}" title="Accueil — uMap">
                <p class="fr-logo">
                  république
                  <br />
                  française
                </p>
              </a>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn"
                      data-fr-opened="false"
                      aria-controls="fr-menu-mobile"
                      aria-haspopup="menu"
                      title="Menu"
                      id="fr-btn-menu-mobile">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="{% url "home" %}" title="Accueil — uMap">
              <p class="fr-header__service-title">uMap</p>
            </a>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <a class="fr-btn umap-btn--primary fr-icon-add-line fr-mr-4w"
                   href="{% url "map_new" %}">Créer une carte</a>
              </li>
              {% if user.is_authenticated %}
                <li>
                  {% url "user_dashboard" as url %}
                  <a class="fr-btn fr-icon-account-fill"
                     href="{{ url}}"
                     {% if request.path == url %}aria-current="page"{% endif %}>Mes cartes</a>
                </li>
                <li>
                  {% with user.get_stars_url as url %}
                  <a class="fr-btn fr-icon-star-s-fill"
                     href="{{ url }}"
                     {% if request.path == url %}aria-current="page"{% endif %}>Mes favoris</a>
                  {% endwith %}
                </li>
              {% endif %}
              {% if user.is_authenticated %}
                <li>
                  <a class="fr-btn fr-icon-lock-fill"
                     href="{% url "logout" %}"
                     class="logout">Se déconnecter ({{ user }})</a>
                </li>
              {% else %}
                <li>
                  <a class="fr-btn fr-icon-lock-line"
                     href="{% url "social:begin" "moncomptepro" %}">Se connecter</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal"
       id="fr-menu-mobile"
       aria-labelledby="fr-btn-menu-mobile"
       data-fr-js-modal="true"
       data-fr-js-header-modal="true">
    <div class="fr-container">
      <button class="fr-btn fr-btn--close"
              aria-controls="fr-menu-mobile"
              data-fr-js-modal-button="true">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav"
           id="navigation-menu-mobile"
           role="navigation"
           aria-label="Menu principal"
           data-fr-js-navigation="true">
        <ul class="fr-nav__list">
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            {% url "home" as url %}
            <a class="fr-nav__link" href="{{ url }}" {% if request.path == url %}aria-current="page"{% endif %}>Accueil</a>
          </li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            {% url "search" as url %}
            <a class="fr-nav__link" href="{{ url }}" {% if request.path == url %}aria-current="page"{% endif %}>Explorer les cartes</a>
          </li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true">
            <a class="fr-nav__link"
               href="https://umap-project.org/tutoriels/"
               target="_blank"
               rel="noopener">Documentation</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
