{% extends "umap/content.html" %}
{% load umap_tags i18n static %}

{% block head_title %}
  Politique de confidentialité - {{ SITE_DESCRIPTION }}
{% endblock head_title %}

{% block maincontent %}
  <main role="main" class="fr-container-fluid">
    <div class="fr-container">
      <div class="fr-grid-row fr-mx-sm-2w fr-mx-md-6w fr-mx-lg-12w fr-mx-xl-15w fr-mb-4w">
        <div class="fr-col-12">
          <h1 class="fr-mt-6w">uMap ANCT – Politique de confidentialité</h1>

          <p>Dernière mise à jour le 28/11/2024</p>

          <h2>Qui sommes-nous ?</h2>

          <p>uMap est un service public numérique développé au sein de l’Incubateur des territoires de l’Agence Nationale de la Cohésion des Territoires (ANCT). Il s’agit d’une plateforme qui permet de faciliter la création de cartes en ligne.</p>

          <p>Le responsable de traitement est l’ANCT,  représentée par Monsieur Stanislas Bourron, Directeur général.</p>

          <h2>Directeur de la publication</h2>

          <p>Le directeur de publication est Monsieur Stanislas BOURRON, Directeur général de l’ANCT.</p>

          <h2>Pourquoi traitons-nous des données à caractère personnel ?</h2>

          <p>uMap traite des données à caractère personnel pour outiller les agents publics dans la création de cartes en ligne par le biais de comptes utilisateurs et d’organisation de webinaires.</p>

          <h2>Quelles sont les données à caractère personnel que nous traitons ?</h2>

          <ul>
            <li><strong>Données relatives aux utilisateurs via ProConnect</strong> : nom, prénom, adresse e-mail ;</li>
            <li><strong>Données relatives aux webinaires</strong> : nom, adresse e-mail, champs libres ;</li>
            <li><strong>Données relatives à la lettre d’information</strong> : nom, prénom, adresse e-mail.</li>
          </ul>

          <h2>Qu’est-ce qui nous autorise à traiter des données à caractère personnel ?</h2>

          <p>Le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investie l’ANCT en tant que responsable de traitement, au sens de l’article 6-1 e) du RGPD.</p>

          <p>Cette mission d’intérêt public se traduit en pratique notamment par l’article L. 1231-2 du code général des collectivités territoriales (CGCT).</p>

          <div class="fr-table--md fr-table fr-table--bordered">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table>
                    <caption class="fr-mb-4w">Pendant combien de temps conservons-nous vos données ?</caption>
                    <thead>
                      <tr>
                        <th scope="col">Catégories de données</th>
                        <th scope="col">Durée de conservation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Données relatives aux utilisateurs</td>
                        <td>2 ans à partir du dernier contact avec la personne concernée</td>
                      </tr>
                      <tr>
                        <td scope="row">Données relatives aux webinaires</td>
                        <td>2 ans à partir du dernier contact avec la personne concernée</td>
                      </tr>
                      <tr>
                        <td scope="row">Données relatives à la lettre d’information</td>
                        <td>Jusqu’à la désinscription de la personne concernée</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <h2>Quels sont vos droits ?</h2>

          <p>Vous disposez :</p>

          <ul>
            <li>D’un droit d’information et d’accès à vos données ;</li>
            <li>D’un droit de rectification ;</li>
            <li>D’un droit d’opposition ;</li>
            <li>D’un droit à la limitation du traitement de vos données.</li>
          </ul>

          <p>Pour exercer vos droits, vous pouvez nous contacter à : umap@anct.beta.gouv.fr</p>
          <p>Ou contacter la déléguée à la protection des données à : dpo@anct.gouv.fr</p>

          <p>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas contraire, nous pouvons être amenés à vous demander une preuve de votre identité.</p>

          <p>Nous nous engageons à répondre à votre demande dans un délai raisonnable qui ne saurait excéder 1 mois à compter de la réception de votre demande. Si vous estimez que vos droits n’ont pas été respectés après nous avoir contactés, vous pouvez adresser une réclamation à la CNIL.</p>


          <h2>Qui peut avoir accès à vos données ?</h2>

          <p>Les personnes suivantes ont accès à vos données en tant que destinataires :
          Les membres habilités de l’équipe uMap (administrateurs, développeurs notamment) ont accès à vos données, dans le cadre de leurs missions.</p>

          <h2>Qui nous aide à traiter vos données ?</h2>

          <p>Certaines données sont communiquées à des « sous-traitants » qui agissent pour le compte de l’ANCT, selon ses instructions.</p>

          <div class="fr-table--md fr-table fr-table--bordered">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table>
                    <thead>
                      <tr>
                        <th>Sous-traitant</th>
                        <th>Traitement réalisé</th>
                        <th>Pays destinataire</th>
                        <th>Garanties</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Scaleway</td>
                        <td>Hébergement</td>
                        <td>France</td>
                        <td><a href="https://www-uploads.scaleway.com/DPA_FR_v17072024_439cb4fdae.pdf">Lien</a></td>
                      </tr>
                      <tr>
                        <td>Brevo</td>
                        <td>Gestion de la lettre d’information</td>
                        <td>France</td>
                        <td><a href="https://www.brevo.com/fr/legal/termsofuse/#accord-sur-le-traitement-des-donnees-a-caractere-personnel-dpa">Lien</a></td>
                      </tr>
                      <tr>
                        <td>Zammad</td>
                        <td>Gestion du support</td>
                        <td>Allemagne</td>
                        <td><a href="https://zammad.com/en/company/privacy">Lien</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <h2 id="cookies">Cookies et traceurs</h2>

          <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).</p>

          <p>En application de l’article 5-3 de la directive ePrivacy, transposée à l’article 82 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les cookies et traceurs suivent deux régimes distincts.</p>

          <p>D’une part, les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique, sont dispensés de consentement préalable.</p>

          <p>D’autre part, les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique, doivent être consenti par l’utilisateur.</p>

          <p>Ce consentement de la personne concernée constitue une base légale au sens du RGPD, à savoir l’article 6-1 a). uMap ne dépose aucun cookie tiers sur sa plateforme et ne nécessite aucun consentement.</p>

          <p>Pour en savoir plus sur les cookies :</p>

          <ul>
            <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi">Cookies et traceurs : que dit la loi ?</a></li>
            <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur">Cookies les outils pour les maîtriser</a></li>
          </ul>

        </div>
      </div>
    </div>
  </main>
{% endblock maincontent %}
