{% extends "umap/content.html" %}
{% load umap_tags compress i18n static %}
{% block maincontent %}
  <main role="main" class="fr-container-fluid">
    <div id="exemples">
      <div class="fr-container fr-tile--horizontal">
        <h2 class="fr-mb-4w fr-ml-0 fr-pt-6w fr-tile__body">
          Explorer les cartes créées par la communauté
        </h2>
        {% include "umap/search_bar.html" %}
        {% if q %}
          {% if maps %}
            <h3 class="fr-tile__body">
              {% blocktranslate count counter=count %}
                  {{ count }} map found:
                {% plural %}
                  {{ count }} maps found:
                {% endblocktranslate %}
            </h3>
            {% include "umap/map_list.html" with prefix="search_map" %}
          {% else %}
            <h3 class="fr-tile__body fr-ml-0">{% trans "No map found." %}</h3>
          {% endif %}
        {% else %}
          <h3 class="fr-tile__body fr-ml-0">Dernières cartes créées</h3>
          {% include "umap/map_list.html" with prefix="search_map" %}
        {% endif %}
      </div>
    </div>
  </main>
{% endblock maincontent %}
