{% extends "umap/content.html" %}
{% load umap_tags i18n static %}

{% block head_title %}
  {% translate "Explore maps" %} - {{ SITE_DESCRIPTION }}
{% endblock head_title %}

{% block content %}
  <main role="main" class="fr-container-fluid">
    <div id="exemples">
      <div class="fr-container fr-tile--horizontal">
        <h1 class="fr-mb-4w fr-mt-0 fr-ml-0 fr-pt-6w fr-tile__body">Explorer les cartes créées par la communauté</h1>
        {% include "umap/search_bar.html" %}
        {% if q %}
          {% if maps %}
            <h2 class="fr-tile__body">
              {% blocktranslate count counter=count %}
                  {{ count }} map found:
                {% plural %}
                  {{ count }} maps found:
                {% endblocktranslate %}
            </h2>
            {% include "umap/map_list.html" with prefix="search_map" %}
          {% else %}
            <h2 class="fr-tile__body fr-ml-0">{% trans "No map found." %}</h2>
          {% endif %}
        {% else %}
          {% if request.GET.tags %}
            <h2 class="fr-tile__body fr-ml-0">
              Dernières cartes créées dans la catégorie
              {% for value, label in UMAP_TAGS %}
                {% if request.GET.tags == value %}
                  « {{ label }} » :
                {% endif %}
              {% endfor %}
            </h2>
          {% else %}
            <h2 class="fr-tile__body fr-ml-0">Dernières cartes créées</h2>
          {% endif %}
          {% include "umap/map_list.html" with prefix="search_map" %}
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}
