{% url "search" as search_url %}
<form action="{% firstof action search_url %}" method="get">
  <div class="fr-search-bar fr-search-bar--lg fr-pb-6w" role="search">
    <label class="fr-label" for="search-map">Recherche</label>
    <input class="fr-input"
           placeholder="Rechercher"
           type="search"
           id="search-map"
           name="q"
           value="{{ request.GET.q|default:"" }}">
    <select class="fr-select" name="tags">
      <option value="">Toutes les catégories</option>
      {% for value, label in UMAP_TAGS %}
      <option value="{{ value }}" {% if request.GET.tags == value %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
    <button class="fr-btn">Rechercher</button>
  </div>
</form>
